<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление оружия</title>
    <link rel="stylesheet" th:href="@{/weapon/weapon-new.css}" />
</head>
<body>

<h1>Добавить оружие</h1>

<form th:action="@{'/weapons/new'}" th:object="${weapon}" method="post">
    <label>Название: <input type="text" th:field="*{name}" required /></label><br/>
    <label>Тип оружия:
        <select th:field="*{weaponType}">
            <option th:each="r : ${weaponType}" th:value="${r}" th:text="${r}"></option>
        </select>
    </label><br/>
    <label>Статус:
        <select th:field="*{weaponStatus}">
            <option th:each="p : ${weaponStatus}" th:value="${p}" th:text="${p}"></option>
        </select>
    </label><br/>
    <label>Калибр: <input type="text" th:field="*{caliber}" /></label><br/>
    <label>Серийный номер: <input type="text" th:field="*{serialNumber}" /></label><br/>
    <label>Дата продукции: <input type="text" th:field="*{productionDate}" /></label><br/>

    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/weapons}">Назад к списку</a>
</body>
</html>