<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиенты</title>
    <link rel="stylesheet" th:href="@{/main/template-list.css}"/>
</head>

<body>
<h1>Список клиентов</h1>

<input type="text" id="searchInput" placeholder="Поиск по ФИО..."/>

<a th:href="@{/clients/new}">Добавить клиента</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Номер паспорта</th>
        <th>Адрес</th>
        <th>Номер телефона</th>
        <th>Приобретённое оружие</th>
        <th></th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.fullName}"></td>
        <td th:text="${client.passportNumber}"></td>
        <td th:text="${client.address}"></td>
        <td th:text="${client.phoneNumber}"></td>
        <td>
            <span th:each="weapon : ${client.purchasedWeapons}"
                  th:text="${weapon.name + ' (' + weapon.serialNumber + '). '}"
                  th:with="weaponStat=${weaponStat}">
            </span>
        </td>
        <td>
            <a th:href="@{'/clients/edit/' + ${client.id}}">Редактировать</a> |
            <a th:href="@{'/clients/delete/' + ${client.id}}">Удалить</a>
        </td>
    </tr>
</table>

<a th:href="@{/}">Назад в меню</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const tableRows = document.querySelectorAll('table tr:not(:first-child)');

        searchInput.addEventListener('input', function () {
            const query = searchInput.value.toLowerCase();

            tableRows.forEach(row => {
                const fullName = row.cells[1].textContent.toLowerCase();
                row.style.display = fullName.includes(query) ? '' : 'none';
            });
        });
    });
</script>
</body>
</html>
