<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники</title>
    <link rel="stylesheet" th:href="@{/main/template-list.css}"/>
</head>

<body>
<h1>Список сотрудников</h1>

<input type="text" id="searchInput" placeholder="Поиск по ФИО..."/>

<a th:href="@{/employees/new}">Добавить сотрудника</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Звание</th>
        <th>Должность</th>
        <th>Отдел</th>
        <th>Номер паспорта</th>
        <th>Служебный номер</th>
        <th>Активный</th>
        <th>Действия</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.fullName}"></td>
        <td th:text="${employee.rank.getDescription()}"></td>
        <td th:text="${employee.position.getDescription()}"></td>
        <td th:text="${employee.department}"></td>
        <td th:text="${employee.passportNumber}"></td>
        <td th:text="${employee.serviceNumber}"></td>
        <td th:text="${employee.getIsActive()}"></td>
        <td>
            <a th:href="@{'/employees/edit/' + ${employee.id}}">Редактировать</a> |
            <a th:href="@{'/employees/delete/' + ${employee.id}}">Удалить</a>
        </td>
    </tr>
</table>

<a th:href="@{/}">Назад в меню</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const tableRows = document.querySelectorAll('table tr:not(:first-child)');

        searchInput.addEventListener('input', function () {
            const query = searchInput.value.toLowerCase();

            tableRows.forEach(row => {
                const fullName = row.cells[1].textContent.toLowerCase();
                row.style.display = fullName.includes(query) ? '' : 'none';
            });
        });
    });
</script>
</body>
</html>
